## Feature Store Basics

This notebook introduces the basics of working with the Hopsworks API and Pandas DataFrames.

First, we will define a Pandas DataFrame with 4 credit card transactions in 3 different cities with the same credit card. The last 2 credit card transactions are labeled as 'fraud', while the first 2 transactions are labeled as 'not fraud'.

In [1]:
import pandas as pd

data = {
    "credit_card_number": [
        "1111 2222 3333 4444",
        "1111 2222 3333 4444",
        "1111 2222 3333 4444",
        "1111 2222 3333 4444",
    ],
    "trans_datetime": [
        "2022-01-01 08:44",
        "2022-01-02 19:44",
        "2022-01-02 20:44",
        "2022-01-02 20:55",
    ],
    "amount": [142.34, 12.34, 66.29, 112.33],
    "location": ["Sao Paolo", "Rio De Janeiro", "Stockholm", "Stockholm"],
    "fraud": [False, False, True, True],
}

df = pd.DataFrame.from_dict(data)
df["trans_datetime"] = pd.to_datetime(df["trans_datetime"])
df

    credit_card_number      trans_datetime  amount        location  fraud
0  1111 2222 3333 4444 2022-01-01 08:44:00  142.34       Sao Paolo  False
1  1111 2222 3333 4444 2022-01-02 19:44:00   12.34  Rio De Janeiro  False
2  1111 2222 3333 4444 2022-01-02 20:44:00   66.29       Stockholm   True
3  1111 2222 3333 4444 2022-01-02 20:55:00  112.33       Stockholm   True

## Connect to Hopsworks

You need an API key to connect. First, login to Hopsworks, then run this code. It will provide a link to get your API key, that you then need to copy and paste into the text box that appears below this cell.

It is good practice to save this API key somewhere safe so you don't have to create a new one every time you use Hopsworks. If you run this code on your laptop, a copy of the API key will be cached locally in this directory in a file with restricted permissions, so you don't have to always re-enter the API key.

In [2]:
import hopsworks
proj = hopsworks.login()
fs = proj.get_feature_store()

Copy your Api Key (first register/login): https://c.app.hopsworks.ai/account/api/generated
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/2279

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Connected. Call `.close()` to terminate connection gracefully.

### Create a Feature Group

A feature group is a table of features that are computed together in the same feature pipeline and written as a DataFrame to the Feature Store. You should have a unique idenitfier for each row that may be one or more columns, and you define as the `primary_key`. You may also have a column that represents the timestamp or datetime for when row values were observed. If so, you should specify the `event_time` column when creating the Feature Group.

Hopsworks have comprehensive documentation on Feature Groups. Click on these links to learn more.

* [Feature Group Concept](https://docs.hopsworks.ai/3.0/concepts/fs/feature_group/fg_overview/)
* [Feature Group Creation Guide](https://docs.hopsworks.ai/3.0/user_guides/fs/feature_group/create/)
* [Feature Group API Docs](https://docs.hopsworks.ai/feature-store-api/3.0/generated/api/feature_group_api/)

In [9]:
fg = fs.get_or_create_feature_group(
    name="credit_card_transactions",
    version=1,
    description="Credit Card Transaction data",
    primary_key=["credit_card_number"],
    event_time="trans_datetime",
)

### Write your DataFrame to the Feature Group
When you write your DataFrame to the feature group, first the DataFrame is copied to Hopsworks. 
Then a backfill ingestion job is run on Hopsworks to insert/append the DataFrame to the Feature Group. 
The job is a Spark job, and the data is stored in a Apache Hudi table in Hopsworks.

It will take about 1 minute for the ingestion job to complete.
If you don't want to wait 1 minute, you make the ingestion job run in the background with:


    fg.insert(df, write_options={"wait_for_job": False})

In [6]:
fg.insert(df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/2279/fs/2224/fg/2878

Uploading Dataframe: 0.00% |          | Rows 0/4 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/2279/jobs/named/credit_card_transactions_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x17eab9d60>, None)

## Read using Feature Views

When you want to use features to train or serve models, you create Feature that are `labels` View a Feature View by first selecting features from Feature Groups. Here, we only have 1 Feature Group, and we select 3 features from it, returning a `query` object. The `query` object defines the set of features (or schema) for a Feature View. 

You create a Feature View with a `query` object (specifying the features and any extra columns that might be needed for inference (but not training)), providing a name and version, and specifying the columns that are `labels`, that is, the target your machine learning algorithm will try and optimize.

In [11]:
query = fg.select(["amount", "location", "fraud"])

fv = fs.create_feature_view(name="abcd",
                            version=1,
                            description="Features from the credit_card_transactions FG",
                            labels=["fraud"],
                            query=query)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/2279/fs/2224/fv/abcd/version/1

### Splitting into Train/Test sets

With a Feature View, you can read train and test sets directly as Pandas DataFrames - similar to scikit-learn.
Here, 

* `X_train` is the features of our train set, 
* `y_train` is the labels of our train set, 
* `X_test` is the features of our test set, 
* `y_test` is the labels of our test set.

In [12]:
X_train, X_test, y_train, y_test = fv.train_test_split(0.5)
X_train

2022-10-04 23:17:34,272 INFO: USE `chanana01_featurestore`
2022-10-04 23:17:35,092 INFO: SELECT `fg0`.`amount` `amount`, `fg0`.`location` `location`, `fg0`.`fraud` `fraud`
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
VersionWarning: Incremented version to `1`.

   amount   location
1   66.29  Stockholm
2  112.33  Stockholm

### Saving training data as files
Sometimes, if you have a large volume of training data, it is better to save training data as files. Then read the files in your training pipeline. You can create training data as CSV files that is randomly split into train/test sets as follows (the `td_version` is the version of the training data for this feature view, and you can track the progress of the job used to create the training data using the `td_job` object).

In [ ]:
td_version, td_job = fv.create_train_test_split(
    description = 'Transactions fraud batch training dataset',
    data_format = 'csv',
    test_size = 0.5,
    write_options = {'wait_for_job': True},
    coalesce = True,
)

## Training Data as files
The training data is now stored as a CSV file on Hopsworks under `Project Settings` -> `File Browser` -> <username>_Training_Datasets.
    
You can read the training data as split train/test sets with the following. Note the parameter `td_version` we pass here. A feature view can have many training datasets, so you need to supply the version you want.

In [ ]:
X_train, y_train, X_test, y_test = fv.get_train_test_split(td_version)
X_train

### Aggregations

Compute the total amount spent on the credit card by first grouping all the rows together with the same `credit_card_number` and then summing up their amounts. 

The code first creates a new DataFrame with only the `credit_card_number` and `amount` columns, then the logic of a group-by could be described as 

    for-each (`credit_card_number`) do \sigma amount

In [13]:
df2 = df[["credit_card_number", "amount"]].groupby("credit_card_number").sum()
df2.rename(columns={"amount": "total_spent"}, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 1111 2222 3333 4444 to 1111 2222 3333 4444
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_spent  1 non-null      float64
dtypes: float64(1)
memory usage: 16.0+ bytes

In [14]:
df2

                     total_spent
credit_card_number
1111 2222 3333 4444        333.3

 We might also want to know at what point-in-time was that total and add a column with the datetime of the last (most recent) credit card transaction.

In [15]:
df2["as_of_datetime"] = df[["credit_card_number", "trans_datetime"]].groupby("credit_card_number").max()
df2

                     total_spent      as_of_datetime
credit_card_number
1111 2222 3333 4444        333.3 2022-01-02 20:55:00

The `groupby` operation sets `credit_card_number` as the index of our DataFrame.
We want `credit_card_number` as a column, as Pandas indexes are not written to the Feature Group.
We can move the index to a column using `reset_index`.

In [16]:
df2.reset_index(inplace=True)
df2

    credit_card_number  total_spent      as_of_datetime
0  1111 2222 3333 4444        333.3 2022-01-02 20:55:00

We create a feature group to store the contents of `df2` with our aggregated credit card spending information.

In [17]:
fg2 = fs.get_or_create_feature_group(
     name="credit_card_spending",
     version=1,
     description="Credit Card Spending",
     primary_key=['credit_card_number'],
     event_time='as_of_datetime'
)

In [18]:
fg2.insert(df2, write_options={"wait_for_job": False})

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/2279/fs/2224/fg/2879

Uploading Dataframe: 0.00% |          | Rows 0/1 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/2279/jobs/named/credit_card_spending_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x17ff5eb50>, None)

Let's add some more data to our original feature group

In [19]:
more_data = { 
    'credit_card_number': ['9999 8888 7777 6666', '9999 8888 7777 6666','9999 8888 7777 6666',
                           '9999 8888 7777 6666'],
    'trans_datetime': ['2022-01-02 04:11', '2022-01-03 07:24', '2022-01-05 10:33', '2022-01-05 11:50'],
    'amount': [55.67, 84, 77.95, 183],
    'location': ['San Francisco', 'San Francisco', 'Dublin', 'Dublin'],
    'fraud': [False, False, False, False] 
}

df3 = pd.DataFrame.from_dict(more_data)
df3['trans_datetime']= pd.to_datetime(df3['trans_datetime'])

fg = fs.get_feature_group(name="credit_card_transactions", version=1)

fg.insert(df3, write_options={"wait_for_job": False})

Uploading Dataframe: 0.00% |          | Rows 0/4 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/2279/jobs/named/credit_card_transactions_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x17fe84ac0>, None)

Now let's compute how much money was spent on the card since the last time we computed amount spent

## Time Series: Window Aggregations

Count the amount of money spent per day (make the length of the window '1d').
We will need to set the `event_time` column as the index in order to use Pandas built-in window aggregations.

In [20]:
df5 = fg.read()
df5

2022-10-04 23:19:24,271 INFO: USE `chanana01_featurestore`
2022-10-04 23:19:25,088 INFO: SELECT `fg0`.`credit_card_number` `credit_card_number`, `fg0`.`trans_datetime` `trans_datetime`, `fg0`.`amount` `amount`, `fg0`.`location` `location`, `fg0`.`fraud` `fraud`
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

    credit_card_number      trans_datetime  amount        location  fraud
0  1111 2222 3333 4444 2022-01-02 19:44:00   12.34  Rio De Janeiro  False
1  1111 2222 3333 4444 2022-01-02 20:44:00   66.29       Stockholm   True
2  1111 2222 3333 4444 2022-01-02 20:55:00  112.33       Stockholm   True
3  1111 2222 3333 4444 2022-01-01 08:44:00  142.34       Sao Paolo  False

In [21]:
df5 = df5.set_index('trans_datetime')

In [22]:
df5 = df5.sort_index()

In [23]:
df5['rolling_max_1d'] = df5.rolling('1D').amount.max()
df5

,credit_card_number,amount,location,fraud,rolling_max_1d
trans_datetime,,,,,
2022-01-01 08:44:00,1111 2222 3333 4444,142.34,Sao Paolo,False,142.34
2022-01-02 19:44:00,1111 2222 3333 4444,12.34,Rio De Janeiro,False,12.34
2022-01-02 20:44:00,1111 2222 3333 4444,66.29,Stockholm,True,66.29
2022-01-02 20:55:00,1111 2222 3333 4444,112.33,Stockholm,True,112.33

In [24]:
df5['rolling_mean_1d'] = df5.rolling('1D').amount.mean()
df5

,credit_card_number,amount,location,fraud,rolling_max_1d,rolling_mean_1d
trans_datetime,,,,,,
2022-01-01 08:44:00,1111 2222 3333 4444,142.34,Sao Paolo,False,142.34,142.340000
2022-01-02 19:44:00,1111 2222 3333 4444,12.34,Rio De Janeiro,False,12.34,12.340000
2022-01-02 20:44:00,1111 2222 3333 4444,66.29,Stockholm,True,66.29,39.315000
2022-01-02 20:55:00,1111 2222 3333 4444,112.33,Stockholm,True,112.33,63.653333

In [25]:
df5.reset_index(inplace=True)

In [26]:
fg_agg = fs.get_or_create_feature_group(
     name="credit_card_rolling_windows",
     version=1,
     description="Daily Credit Card Spending",
     primary_key=['credit_card_number'],
     event_time='trans_datetime'
)

In [27]:
fg_agg.insert(df5)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/2279/fs/2224/fg/2880

Uploading Dataframe: 0.00% |          | Rows 0/4 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/2279/jobs/named/credit_card_rolling_windows_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x17ff5ebe0>, None)

### Create a Feature View using features from multiple Feature Groups

We want to create a model that uses features from multiple feature groups. 
We will select features from the different feature groups and join them together to create a query object. 
We can read the data in the query object as a DataFrame to inspect it before we create the feature view. 
We will use the feature view to read the training data for the model.

In [28]:
query = fg.select_all().join(fg_agg.select(['rolling_max_1d', 'rolling_mean_1d']))

training_data = query.read()
training_data.head()

2022-10-04 23:20:53,304 INFO: USE `chanana01_featurestore`
2022-10-04 23:20:54,097 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`credit_card_number` `credit_card_number`, `fg1`.`trans_datetime` `trans_datetime`, `fg1`.`amount` `amount`, `fg1`.`location` `location`, `fg1`.`fraud` `fraud`, `fg1`.`credit_card_number` `join_pk_credit_card_number`, `fg1`.`trans_datetime` `join_evt_trans_datetime`, `fg0`.`rolling_max_1d` `rolling_max_1d`, `fg0`.`rolling_mean_1d` `rolling_mean_1d`, RANK() OVER (PARTITION BY `fg0`.`credit_card_number`, `fg1`.`trans_datetime` ORDER BY `fg0`.`trans_datetime` DESC) pit_rank_hopsworks
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg1`
INNER JOIN `chanana01_featurestore`.`credit_card_rolling_windows_1` `fg0` ON `fg1`.`credit_card_number` = `fg0`.`credit_card_number` AND `fg1`.`trans_datetime` >= `fg0`.`trans_datetime`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`credit_card_number` `credit_card_number`, `right_fg0`.`trans_datetime` `trans_datetime`, `right_fg0`.`amount` `amount`, `right_fg0`.`location` `location`, `right_fg0`.`fraud` `fraud`, `right_fg0`.`rolling_max_1d` `rolling_max_1d`, `right_fg0`.`rolling_mean_1d` `rolling_mean_1d`
FROM right_fg0)

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,credit_card_number,trans_datetime,amount,location,fraud,rolling_max_1d,rolling_mean_1d
0,1111 2222 3333 4444,2022-01-01 08:44:00,142.34,Sao Paolo,False,142.34,142.340000
1,1111 2222 3333 4444,2022-01-02 19:44:00,12.34,Rio De Janeiro,False,12.34,12.340000
2,1111 2222 3333 4444,2022-01-02 20:44:00,66.29,Stockholm,True,66.29,39.315000
3,1111 2222 3333 4444,2022-01-02 20:55:00,112.33,Stockholm,True,112.33,63.653333

In [29]:
fv = fs.create_feature_view(name="credit_card_fraud_rolling",
                            description="Features for a model to predict credit card fraud, including rolling windows",
                            version=1,
                            query=query)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/2279/fs/2224/fv/credit_card_fraud_rolling/version/1

In [30]:
X_train, y_train, X_test, y_test = fv.train_test_split(0.5)
X_train

2022-10-04 23:21:22,149 INFO: USE `chanana01_featurestore`
2022-10-04 23:21:22,934 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`credit_card_number` `credit_card_number`, `fg1`.`trans_datetime` `trans_datetime`, `fg1`.`amount` `amount`, `fg1`.`location` `location`, `fg1`.`fraud` `fraud`, `fg1`.`credit_card_number` `join_pk_credit_card_number`, `fg1`.`trans_datetime` `join_evt_trans_datetime`, `fg0`.`rolling_max_1d` `rolling_max_1d`, `fg0`.`rolling_mean_1d` `rolling_mean_1d`, RANK() OVER (PARTITION BY `fg1`.`credit_card_number`, `fg1`.`trans_datetime` ORDER BY `fg0`.`trans_datetime` DESC) pit_rank_hopsworks
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg1`
INNER JOIN `chanana01_featurestore`.`credit_card_rolling_windows_1` `fg0` ON `fg1`.`credit_card_number` = `fg0`.`credit_card_number` AND `fg1`.`trans_datetime` >= `fg0`.`trans_datetime`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`credit_card_number` `credit_card_number`, `right_fg0`.`trans_datetime` `trans_datetime`, `right_fg0`.`amount` `amount`, `right_fg0`.`location` `location`, `right_fg0`.`fraud` `fraud`, `right_fg0`.`rolling_max_1d` `rolling_max_1d`, `right_fg0`.`rolling_mean_1d` `rolling_mean_1d`
FROM right_fg0)

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
VersionWarning: Incremented version to `1`.

,credit_card_number,trans_datetime,amount,location,fraud,rolling_max_1d,rolling_mean_1d
0,1111 2222 3333 4444,2022-01-01 08:44:00,142.34,Sao Paolo,False,142.34,142.34
1,1111 2222 3333 4444,2022-01-02 19:44:00,12.34,Rio De Janeiro,False,12.34,12.34

### Read from Feature Groups

You are also able to read data from Feature Groups as DataFrames.

In [31]:
fg = fs.get_feature_group(name="credit_card_transactions", version=1)
read_df = fg.read()

2022-10-04 23:22:52,271 INFO: USE `chanana01_featurestore`
2022-10-04 23:22:53,066 INFO: SELECT `fg0`.`credit_card_number` `credit_card_number`, `fg0`.`trans_datetime` `trans_datetime`, `fg0`.`amount` `amount`, `fg0`.`location` `location`, `fg0`.`fraud` `fraud`
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

In [32]:
read_df

    credit_card_number      trans_datetime  amount        location  fraud
0  1111 2222 3333 4444 2022-01-02 19:44:00   12.34  Rio De Janeiro  False
1  1111 2222 3333 4444 2022-01-02 20:44:00   66.29       Stockholm   True
2  1111 2222 3333 4444 2022-01-02 20:55:00  112.33       Stockholm   True
3  1111 2222 3333 4444 2022-01-01 08:44:00  142.34       Sao Paolo  False
4  9999 8888 7777 6666 2022-01-03 07:24:00   84.00   San Francisco  False
5  9999 8888 7777 6666 2022-01-05 10:33:00   77.95          Dublin  False
6  9999 8888 7777 6666 2022-01-05 11:50:00  183.00          Dublin  False
7  9999 8888 7777 6666 2022-01-02 04:11:00   55.67   San Francisco  False

### Filters
You can use filters on the `query` object or on the Feature Groups, when reading from them. Here, we read all rows where the transaction amount is greater than 100.

In [33]:
from hsfs.feature import Feature

big_amounts_df = fg.filter(Feature("amount") > 100).read()
big_amounts_df

2022-10-04 23:23:14,089 INFO: USE `chanana01_featurestore`
2022-10-04 23:23:14,907 INFO: SELECT `fg0`.`credit_card_number` `credit_card_number`, `fg0`.`trans_datetime` `trans_datetime`, `fg0`.`amount` `amount`, `fg0`.`location` `location`, `fg0`.`fraud` `fraud`
FROM `chanana01_featurestore`.`credit_card_transactions_1` `fg0`
WHERE `fg0`.`amount` > 100

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

    credit_card_number      trans_datetime  amount   location  fraud
0  1111 2222 3333 4444 2022-01-02 20:55:00  112.33  Stockholm   True
1  1111 2222 3333 4444 2022-01-01 08:44:00  142.34  Sao Paolo  False
2  9999 8888 7777 6666 2022-01-05 11:50:00  183.00     Dublin  False